<!DOCTYPE html>
{% load static%}

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'engenharia/CSS/style.css'%}">
    <title>Register Screen</title>
</head>

<body>

    <div class='register-box'>
        <h1 class="title">Register Screen</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <br> 
            <input type="submit" value="Submit" class="button-submit">
        </form>
    </div>
</body>

</html>